---
// src/pages/index.astro
import Layout from '@layouts/Layout.astro';
import Navbar from '@components/Navbar.astro';
import Hero from '@components/Hero.astro';
import Specialties from '@components/Specialties.astro';
import Treatments from '@components/Treatments.astro';
import BlogPreview from '@components/BlogPreview.astro';
import Contact from '@components/Contact.astro';
import Footer from '@components/Footer.astro';
import WhyChooseMe from '@components/WhyChoose.astro';
---

<Layout title="Dr. Villoria - Consulta de Digestología en Barcelona">
  <Navbar />
  <main>
    <Hero />
    <WhyChooseMe />
    <Specialties />
    <Treatments />
    <Contact />
  </main>
  <Footer />
</Layout>



